* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: auto;
    height: 100%;
}

.header {
    background-color: #F3C6BD;
    height: 750px;
    padding-top: 45px;
}

.header_cap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.logo_text span:first-child {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

.logo_text span:last-child {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    opacity: 0.7;
    font-size: 20px;
    line-height: 25px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    width: 258px;
}

.menu_nav_link {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #2B292D;
    margin-right: 20px;
}

.menu_nav_link:hover {
    font-weight: bold;
}

.menu_arrow {
    background-image: url("../img/Arrow.png");
    width: 8px;
    height: 5px;
    display: inline-block;
}

.menu_button {
    width: 160px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border: transparent;
    border-radius: 2px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: white;
    cursor: pointer;
}

.header_down {
    position: relative;
    margin-top: 98px;
    display: flex;
    align-items: center;
}

.header_down__blockText {
    margin-left: 126px;
    margin-top: 50px;
    position: relative;
    z-index: 2;
}

.header_down__blockText span {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
}

.header_down__blockText p {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
}

.header_down__buttons_button1 {
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    padding: 18px 28px;
    border-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: white;
    cursor: pointer;
}

.header_down__buttons_button2 {
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    border-radius: 2px;
    padding: 18px 28px;
    border-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #3040C4;
    margin-left: 10px;
    cursor: pointer;
}

.header_down__img {
    background-image: url("../img/ouch.png");
    width: 796px;
    height: 448px;
    position: relative;
    top: 36px;
    right: 125px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.footer_up {
    display: flex;
}

.footer_up__icon {
    display: flex;
    flex-direction: column;
    margin-left: 129px;
    margin-right: 126px;
}

.footer_up__icon_img {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.footer_up__text {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(43, 41, 45, 0.6);
    margin-bottom: 25px;
}

.footer_up__linkIcon .AppStore {
    margin-right: 10px;
}

.footer_up__listFirst,
.footer_up__listSecond {
    margin-top: 30px;
}

.footer_up__listFirst {
    margin-right: 82px;
}

.footer_up__listFirst_text,
.footer_up__listSecond_text {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}

.footer_up__listFirst ul li,
.footer_up__listSecond ul li {
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.footer_up__listFirst li {
    margin-left: 40px;
}

.footer_up__listFirst a,
.footer_up__listSecond a {
    text-decoration: none;
}

.footer_line {
    height: 1px;
    background-color: #2B292D;
    opacity: 0.1;
    margin-top: 30px;
}

.footer_down {
    display: flex;
    align-items: center;
    position: relative;
}

.footer_down__listDocuments li {
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Work Sans', sans-serif;
    color: rgba(43, 41, 45, 0.6);
    float: left;
    margin-right: 15px;
}

.footer_down__listDocuments {
    margin-left: 90px;
}

.footer_down__linkSocial {
    position: absolute;
    right: 132px;
}

.footer_down__linkSocial a {
    margin-right: 20px;
}

main {
    flex-grow: 2;
}