@import "breakpoint.scss";
@import 'mainstyles.scss';
.header {
    background-color: #F3C6BD;
    padding: 41px 130px 76px 130px;
}

.header_cap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.logo_text span:first-child {
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

.logo_text span:last-child {
    font-family: $main-font;
    font-style: normal;
    opacity: 0.7;
    font-size: 20px;
    line-height: 25px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    width: 273px;
}

.menu_nav_link {
    font-family: $main-font;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #2B292D;
}

.menu_nav_link_active {
    font-weight: bold;
    font-family: $main-font;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #2B292D;
    margin-right: 20px;
}

.menu_arrow {
    background-image: url("../img/Arrow.png");
    width: 8px;
    height: 5px;
    display: inline-block;
}

.menu_button {
    width: 160px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border: transparent;
    border-radius: 2px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: white;
    cursor: pointer;
}

.logo_sandwich {
    display: none;
}

@include small_device {
    .header {
        padding: 0;
    }
    .logo_text span:last-child,
    .menu_nav,
    .menu_button {
        display: none;
    }
    .logo_image {
        width: 48px;
        height: 48px;
    }
    .header_cap {
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(44, 50, 65, 0.08);
    }
    .header {
        padding-top: 0;
        padding-bottom: 0;
    }
    .logo_sandwich {
        display: block;
        width: 58px;
        height: 64px;
        background: #FFFFFF;
        border: none;
        outline-style: none;
        border-left: 1px solid black;
        cursor: pointer;
    }
    .logo_sandwich img {
        display: block;
        margin: 0 auto 0 18px;
    }
    .menu {
        margin-left: 25px;
        justify-content: center;
    }
}