@import "breakpoint.scss";
@import 'mainstyles.scss';
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    height: 100%;
}

main {
    flex-grow: 2;
}

.headline {
    height: 533px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #F3C6BD;
    font-family: $main-font;
    &__blockText {
        position: absolute;
        z-index: 3;
        align-self: flex-start;
        margin-left: 126px;
        margin-bottom: 106px;
        &>span {
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            line-height: 78px;
            color: rgb(43, 41, 45);
        }
        &>p {
            font-style: normal;
            font-weight: normal;
            width: 456px;
            font-size: 24px;
            line-height: 34px;
            position: relative;
            z-index: 1;
        }
    }
    &__buttons {
        &_button1 {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
            border-radius: 2px;
            border-color: transparent;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 13px;
            width: 160px;
            height: 48px;
            color: white;
            cursor: pointer;
        }
        &_button2 {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
            border-radius: 2px;
            border-color: transparent;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 13px;
            width: 160px;
            height: 48px;
            color: #3040C4;
            margin-left: 10px;
            cursor: pointer;
        }
    }
    &__img {
        background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png");
        background-position: center;
        background-size: auto;
        width: 796px;
        height: 448px;
        position: relative;
        z-index: 2;
        right: -583px;
        bottom: 35px;
    }
    &__img_little {
        display: none;
    }
}

@include small_device {
    .headline {
        height: 800px;
        display: flex;
        flex-direction: column;
        &__blockText {
            position: relative;
            margin: 0;
            margin-left: 10px;
            &>span {
                width: 290px;
                display: block;
                font-size: 50px;
                line-height: 50px;
                padding-left: 5px;
            }
            &>p {
                width: 290px;
                height: 172px;
                font-size: 24px;
                margin-right: 0;
                display: inline-block;
                padding-left: 5px;
            }
        }
        &__buttons {
            margin-top: 5px;
            &_button1,
            &_button2 {
                display: block;
                padding: 0;
                width: 290px;
                height: 48px;
                font-size: 18px;
                line-height: 13px;
                margin: 0 12px 15px 5px;
                &>span {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        &__img {
            display: none;
        }
        &__img_little {
            display: block;
            width: 320px;
            height: 180px;
            background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 23px;
        }
    }
}

.about {
    background-color: #F4F5F7;
    display: flex;
    align-items: center;
    font-family: $main-font;
    padding: 77px 131px 76px 130px;
    & .article {
        width: 555px;
        height: 102px;
        &>span {
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 32px;
        }
        &>p {
            font-style: normal;
            font-size: 22px;
            line-height: 32px;
            margin-left: 0;
            margin-top: 5px;
        }
    }
    & :last-child {
        margin-left: 29px;
    }
}

@include small_device {
    .about {
        flex-direction: column;
        width: 320px;
        padding: 46px 15px 46px 15px;
        & .article {
            width: 290px;
            height: 180px;
            margin-bottom: 6px;
            &>p {
                margin-top: 6px;
            }
        }
        &_text2 {
            width: 290px;
            height: 136px;
            margin-left: 0;
            &>p {
                margin-top: 6px;
            }
        }
        & :last-child {
            margin-left: 0;
        }
    }
}

.customers {
    margin: 50px 130px 126px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & table {
        width: 1140px;
        & tbody {
            display: flex;
        }
        & tr {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            & td {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.customers img {
    filter: brightness(0);
}

.features {
    position: relative;
    margin-left: 126px;
    display: flex;
    & .features_bird,
    & .features_picture,
    & .features_tv {
        display: none;
    }
}

.tips {
    & .tips_bird,
    & .tips_picture,
    & .tips_tv {
        display: none;
    }
}

.features_text__one {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: #009B4D;
    font-family: $main-font;
}

.features_text__two {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    font-family: $main-font;
    margin-top: 24px;
    margin-bottom: 30px;
}

.features_text__three {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    font-family: $main-font;
    margin-bottom: 32px;
}

.features_text__four {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    font-family: $main-font;
    color: #3142C6;
    margin-bottom: 0;
}

.features_text_compass {
    display: flex;
    align-items: center;
}

.features_text_compass img {
    margin-right: 15px;
    margin-bottom: 0;
    margin-top: 20px;
}

.features_text_colorLine {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    font-family: $main-font;
}

.features_text_colorLine hr {
    background: #3142C6;
    height: 3px;
    border: none;
    width: 457px;
    margin: 0;
}

.features_text__blackImg_one {
    padding-top: 20px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #aaa;
    width: 457px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    font-family: $main-font;
}

.house,
.printer {
    margin-right: 15px;
}

.features_text__blackImg_two {
    padding-top: 20px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #aaa;
    width: 457px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    font-family: $main-font;
}

.eye {
    position: absolute;
    left: -125px;
    bottom: 265px;
}

.features_img {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/invision-screen.png');
    background-repeat: no-repeat;
    background-size: auto;
    width: 1086px;
    height: 597px;
    margin-left: 127px;
    margin-bottom: 103px;
    margin-top: 30px;
}

@include small_device {
    .features {
        display: none;
    }
    .tips {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        & .tips_bird,
        & .tips_picture,
        & .tips_tv {
            display: block;
        }
        &_text {
            display: none;
        }
        &_img {
            display: none;
        }
    }
    .customers {
        flex-direction: column;
        margin: 0;
        & table {
            width: 320px;
            & tbody {
                display: flex;
                flex-direction: column;
            }
            & tr {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                & td {
                    width: 106px;
                    height: 94px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & .ny {
                        width: 77px;
                        height: 55px;
                    }
                    & .forbse {
                        width: 78px;
                        height: 21px;
                    }
                    & .apple {
                        width: 35px;
                        height: 40px;
                    }
                    & .mashable {
                        width: 77px;
                        height: 13px;
                    }
                    & .wsj {
                        width: 49px;
                        height: 28px;
                    }
                    & .google {
                        width: 75px;
                        height: 25px;
                    }
                }
            }
            .first {
                & td:first-child {
                    border-bottom: 1px solid #E3E3E3;
                    border-right: 1px solid #E3E3E3;
                }
                & td:last-child {
                    border-bottom: 1px solid #E3E3E3;
                    border-left: 1px solid #E3E3E3;
                }
                & td:nth-child(2) {
                    border-bottom: 1px solid #E3E3E3;
                }
            }
            .second {
                & td:first-child {
                    border-bottom: 1px solid #E3E3E3;
                    border-right: 1px solid #E3E3E3;
                }
                & td:last-child {
                    border-bottom: 1px solid #E3E3E3;
                    border-left: 1px solid #E3E3E3;
                }
                & td:nth-child(2) {
                    border-bottom: 1px solid #E3E3E3;
                }
            }
        }
    }
    .tips_bird {
        height: 949px;
        border-bottom: 1px solid #E3E3E3;
        padding: 49px 15px 0 15px;
        &__text {
            margin-top: 0;
        }
    }
    .tips_picture {
        border-bottom: 1px solid #E3E3E3;
        height: 857px;
        padding: 49px 15px 0 15px;
    }
    .tips_tv {
        border-bottom: 1px solid #E3E3E3;
        height: 920px;
        padding: 49px 15px 0 15px;
    }
    .tips_bird__text,
    .tips_picture__text,
    .tips_tv__text {
        display: flex;
        flex-direction: column;
        width: 290px;
    }
    .tips_bird__text span,
    .tips_picture__text span,
    .tips_tv__text span {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 34px;
        color: #009B4D;
        font-family: $main-font;
    }
    .tips_bird__text p:nth-child(2),
    .tips_picture__text p:nth-child(2),
    .tips_tv__text p:nth-child(2) {
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        font-family: $main-font;
        color: #2B292D;
        margin: 15px 0 0 0;
    }
    .tips_bird__text p:last-child,
    .tips_picture__text p:last-child,
    .tips_tv__text p:last-child {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        color: #2B292D;
        margin: 15px 0 0 0;
    }
    .tips_bird__img,
    .tips_picture__img,
    .tips_tv__img {
        margin-top: 30px;
        height: 400px;
    }
    .tips_bird__img figure,
    .tips_picture__img figure,
    .tips_tv__img figure {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 290px;
        height: 381px;
        display: block;
        margin: auto;
    }
    figcaption {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        font-family: $main-font;
        color: rgba(43, 41, 45, 0.6);
        margin-top: 19px;
    }
}

.inbox {
    background: rgb(254, 249, 244);
    height: 790px;
    display: flex;
    &__img {
        margin-left: 143px;
        width: 510px;
        margin-top: 142px;
        & img {
            margin-bottom: 15px;
        }
        & figcaption {
            font-family: $main-font;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: rgba(43, 41, 45, 0.6);
            text-align: center;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 519px;
        margin-right: 99px;
        margin-left: 120px;
        margin-top: 115px;
        &_orange {
            margin-bottom: 24px;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 34px;
            color: #F1592B;
            font-family: $main-font;
        }
        &_bold {
            width: 462px;
            font-family: $main-font;
            font-style: normal;
            font-weight: bold;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
            color: #2B292D;
            margin-bottom: 30px;
        }
        &>p {
            width: 461px;
            font-family: $main-font;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 34px;
            color: #2B292D;
            margin-bottom: 40px;
        }
        & .review {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 519px;
            height: 213px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
            background-blend-mode: overlay, normal;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
            border-bottom: 4px solid #0185D0;
            padding: 30px 30px 0 30px;
            margin-bottom: 106px;
            & p {
                margin: 0;
                font-family: $main-font;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 28px;
                color: #2B292D;
            }
            & figure {
                display: flex;
                margin: 0;
                & img {
                    margin-right: 11px;
                    width: 40px;
                    height: 40px;
                }
                & .Viella {
                    font-family: $main-font;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 22px;
                    color: #2B292D;
                }
                & .Creative {
                    font-family: $main-font;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: rgba(43, 41, 45, 0.6);
                }
            }
        }
    }
}

@include small_device {
    .inbox {
        flex-direction: column;
        height: 1215px;
        &__img {
            width: 290px;
            margin: 50px 15px 0 15px;
            & figure {
                margin: 0;
            }
            & img {
                width: 290px;
            }
            & figcaption {
                display: none;
            }
        }
        &__text {
            width: 290px;
            margin: 0;
            margin-left: 15px;
            margin-top: 32px;
            & .review {
                width: 290px;
                height: 321px;
                padding-bottom: 30px;
                & figure {
                    display: flex;
                    align-items: center;
                }
            }
            &_bold {
                width: 290px;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 0;
            }
            &>p {
                width: 290px;
            }
        }
    }
}

.communication {
    &_mainBlock {
        display: flex;
        flex-wrap: wrap;
        &__left {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 461px;
            margin-right: 193px;
            margin-left: 128px;
            margin-top: 123px;
            font-family: $main-font;
            &_blue {
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 34px;
                color: #0189D1;
                margin-bottom: 24px;
            }
            &_bold {
                font-style: normal;
                font-weight: bold;
                font-size: 56px;
                line-height: 56px;
                letter-spacing: -0.5px;
                color: #2B292D;
            }
            & p {
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 34px;
                color: #2B292D;
            }
            & button {
                width: 160px;
                height: 48px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
                border-radius: 2px;
                border: transparent;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 13px;
                color: #FFFFFF;
                margin-top: 39px;
            }
            & hr {
                width: 150px;
                height: 1px;
                background: #000000;
                opacity: 0.1;
                align-self: flex-start;
                margin: 0;
                margin-top: 87px;
            }
        }
        &__rigth {
            width: 425px;
            margin-top: 110px;
            margin-right: 193px;
            font-family: $main-font;
            & figcaption {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                color: rgba(43, 41, 45, 0.6);
            }
            hr {
                display: none;
            }
        }
        &__down {
            flex-grow: 1;
            display: flex;
            justify-content: space-around;
            margin: 41px 130px 110px 130px;
            &_subscriptions,
            &_felxible,
            &_fast {
                width: 360px;
                font-size: 18px;
                line-height: 26px;
                font-family: $main-font;
                & .sub,
                & .felix,
                & .fast {
                    font-style: normal;
                    font-weight: bold;
                    font-family: $main-font;
                    color: #2B292D;
                }
                & .Foundation,
                & .get,
                & .we {
                    font-style: normal;
                    font-family: $main-font;
                    color: #2B292D;
                }
                & a {
                    display: block;
                    color: #3040C4;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 26px;
                    font-family: $main-font;
                    text-decoration: underline;
                    margin-top: 10px;
                }
            }
        }
    }
}

@include small_device {
    .communication {
        &_mainBlock {
            &__left {
                width: 290px;
                margin: 0 15px;
                &_bold {
                    font-size: 40px;
                    line-height: 40px;
                }
                & p {
                    margin-bottom: 0;
                }
                & hr {
                    display: none;
                }
            }
            &__rigth {
                margin: 40px 13px 0;
                & figure {
                    margin: 0;
                    width: 290px;
                    & img {
                        width: 290px;
                        height: 291px;
                    }
                }
                & hr {
                    display: block;
                    height: 1px;
                    width: 150px;
                    background: #000000;
                    opacity: 0.1;
                    margin-right: 155px;
                    margin-top: 40px;
                    margin-bottom: 33px;
                }
            }
            &__down {
                flex-direction: column;
                margin: 0;
                &_subscriptions,
                &_felxible,
                &_fast {
                    width: 290px;
                    margin-left: 15px;
                    margin-right: 15px;
                }
                &_subscriptions,
                &_felxible {
                    margin-bottom: 32px;
                }
            }
        }
    }
}

.audience {
    height: 983px;
    background: rgb(237, 248, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_text {
        font-family: $main-font;
        width: 555px;
        display: flex;
        flex-direction: column;
        & .engage {
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 34px;
            color: #2B292D;
            text-align: center;
            margin-bottom: 24px;
        }
        & .understand {
            font-style: normal;
            font-weight: bold;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
            color: #2B292D;
            text-align: center;
            margin-bottom: 30px;
        }
        & p {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 34px;
            text-align: center;
            color: #2B292D;
            margin-bottom: 34px;
        }
        &_buttons {
            display: flex;
            justify-content: center;
            & button:first-child {
                width: 160px;
                height: 48px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
                border-radius: 2px;
                border: none;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 13px;
                color: #FFFFFF;
            }
            & button:last-child {
                width: 160px;
                height: 48px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
                border-radius: 2px;
                border: none;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 13px;
                color: #000000;
                margin-left: 10px;
            }
        }
    }
    &_imgs {
        font-family: $main-font;
        display: flex;
        justify-content: space-around;
        margin-top: 111px;
        & .user-card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 262px;
            height: 300px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
            margin-right: 30px;
            border-radius: 8px;
            & figcaption {
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 28px;
                color: #2B292D;
                margin-top: 22px;
            }
            & figure {
                margin: 0;
            }
        }
        & .user-card:nth-child(3),
        & .user-card:nth-child(4) {
            text-align: center;
        }
        & .user-card:nth-child(4) {
            margin-right: 0;
        }
    }
}

@include small_device {
    .audience {
        height: 1808px;
        margin-top: 50px;
        &_text {
            width: 290px;
            & .understand {
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 0;
            }
            &_buttons {
                flex-direction: column;
                & button:first-child,
                & button:last-child {
                    width: 290px;
                    height: 48px;
                }
                & button:last-child {
                    margin-left: 0;
                    margin-top: 12px;
                }
            }
        }
        &_imgs {
            flex-direction: column;
            margin: 40px;
            & .user-card {
                width: 290px;
                margin-left: 15px;
                margin-right: 15px;
            }
            & .user-card:nth-child(1),
            & .user-card:nth-child(2),
            & .user-card:nth-child(3) {
                margin-bottom: 15px;
            }
        }
    }
}

.feedback {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 355px;
    border-bottom: 1px solid #D3D3D3;
    & .customers {
        margin: 30px 130px 0 130px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 96px;
        & img {
            filter: brightness(0);
        }
    }
    &_text {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $main-font;
        &>span {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #3142C6;
        }
        &>p {
            font-family: Work Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 34px;
            text-align: center;
            color: #2B292D;
            width: 750px;
            margin-bottom: 0;
        }
        &_user {
            margin-top: 34px;
            display: flex;
            flex-direction: column;
            & span:first-child {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #2B292D;
            }
            & span:last-child {
                color: rgba(43, 41, 45, 0.6);
            }
        }
        &_buttons {
            display: flex;
            margin-top: 38px;
            & div {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                border: none;
                margin-left: 13px;
                background: #2B292D;
                opacity: 0.2;
            }
            & div:first-child {
                opacity: 1;
                background: #3142C5;
            }
        }
    }
    &_buble {
        position: absolute;
        right: 26px;
        bottom: -5px;
    }
    & .main_logos {
        display: none;
    }
}

@include small_device {
    .feedback {
        height: 1000px;
        & .customers {
            display: none;
        }
        &_text {
            width: 290px;
            margin-top: 39px;
            &>span {
                text-align: start;
            }
            &>p {
                width: 290px;
                text-align: start;
            }
            &_user {
                width: 290px;
                text-align: start;
                & span:first-child {
                    text-align: start;
                }
            }
            &_buttons {
                margin-right: 100px;
                margin-left: 103px;
                margin-bottom: 40px;
                & div {
                    width: 12px;
                    height: 12px;
                }
            }
        }
        &_buble {
            bottom: 50px;
            left: 15px;
            right: 0;
        }
    }
}

.hiring {
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 839px;
    &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        &>span {
            font-style: normal;
            font-weight: bold;
            font-size: 56px;
            line-height: 56px;
            text-align: center;
            letter-spacing: -0.5px;
            color: #2B292D;
            text-align: center;
        }
        & p {
            width: 555px;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 34px;
            text-align: center;
            color: #2B292D;
        }
        & button {
            width: 247px;
            height: 48px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
            border-radius: 2px;
            border: none;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 13px;
            color: #FFFFFF;
        }
    }
    &_buttons {
        font-family: $main-font;
        margin-top: 110px;
        & .vacancy {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 750px;
            height: 81px;
            border: 1px solid rgba(43, 41, 45, 0.2);
            border-radius: 8px;
            & span:first-child {
                width: 408px;
                margin-right: 20px;
                margin-left: 25px;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 28px;
            }
            & span:nth-child(2) {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                opacity: 0.6;
            }
            & span:nth-child(2) {
                width: 223px;
            }
            & img:nth-child(3) {
                margin-right: 25px;
            }
        }
        & div:first-child {
            margin-bottom: 20px;
        }
        & div:nth-child(2) {
            margin-bottom: 20px;
        }
    }
    &_forMin {
        display: none;
    }
}

@include small_device {
    .hiring {
        &_text {
            &>span {
                font-size: 40px;
                line-height: 40px;
            }
            & p {
                width: 290px;
            }
            & button {
                width: 290px;
            }
        }
        &_buttons {
            display: none;
        }
        &_forMin {
            display: block;
            font-family: $main-font;
            margin-top: 39px;
            &_block {
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
                &_white {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 20px 21px 19px 20px;
                    width: 240px;
                    height: 140px;
                    border: 1px solid rgba(43, 41, 45, 0.2);
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    & span:first-child {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 28px;
                        color: #2B292D;
                        margin-bottom: 7px;
                    }
                }
                &_grey {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 140px;
                    background: #D5D4D5;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
            &_block:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.order {
    display: flex;
    font-family: $main-font;
    background: #F4F5F7;
    &_img {
        margin: 73px 122px 72px 224px;
    }
    &_text {
        margin: 106px 228px 106px 0;
        &>span:first-child {
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: -0.25px;
            color: #2B292D;
        }
        &>p {
            width: 555px;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 32px;
            color: #2B292D;
        }
        & form {
            margin-bottom: 10px;
            margin-top: 26px;
            & input[type="email"] {
                width: 385px;
                height: 48px;
                background: #FFFFFF;
                border: 1px solid rgba(43, 41, 45, 0.2);
                border-radius: 2px;
                padding-left: 15px;
            }
            & input::placeholder {
                font-family: $main-font;
                font-size: 18px;
                line-height: 13px;
                color: #2B292D;
            }
            & button {
                width: 160px;
                height: 48px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
                border-radius: 2px;
                border: none;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 13px;
                color: #FFFFFF;
            }
        }
        &>span:nth-child(4) {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: rgba(43, 41, 45, 0.6);
        }
        & a {
            text-decoration: underline;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
        }
    }
    & .little_bold {
        display: none;
    }
    & .little {
        display: none;
    }
}

@include small_device {
    .order {
        flex-direction: column;
        &_img {
            margin: 50px 60px 40px;
            & img {
                width: 220px;
                height: 220px;
            }
        }
        &_text {
            margin: 0 13px 50px;
            &>p {
                width: 290px;
            }
            & .big {
                display: none;
            }
            & .little_bold {
                display: inline;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 40px;
            }
            & .little {
                display: block;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 34px;
                margin-top: 18px;
            }
            & form {
                & input[type="email"] {
                    width: 290px;
                    padding: 17px 72px 18px 72px;
                    margin-bottom: 17px;
                }
                & button {
                    width: 290px;
                }
            }
        }
    }
}