.header {
  background-color: #F3C6BD;
  padding: 41px 130px 76px 130px;
}

.header_cap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo_text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.logo_text span:first-child {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.logo_text span:last-child {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  opacity: 0.7;
  font-size: 20px;
  line-height: 25px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
  width: 273px;
}

.menu_nav_link {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #2B292D;
}

.menu_nav_link_active {
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #2B292D;
  margin-right: 20px;
}

.menu_arrow {
  background-image: url("../img/Arrow.png");
  width: 8px;
  height: 5px;
  display: inline-block;
}

.menu_button {
  width: 160px;
  height: 48px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040C4;
  border: transparent;
  border-radius: 2px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: white;
  cursor: pointer;
}

.logo_sandwich {
  display: none;
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0;
  }

  .logo_text span:last-child,
.menu_nav,
.menu_button {
    display: none;
  }

  .logo_image {
    width: 48px;
    height: 48px;
  }

  .header_cap {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(44, 50, 65, 0.08);
  }

  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo_sandwich {
    display: block;
    width: 58px;
    height: 64px;
    background: #FFFFFF;
    border: none;
    outline-style: none;
    border-left: 1px solid black;
    cursor: pointer;
  }

  .logo_sandwich img {
    display: block;
    margin: 0 auto 0 18px;
  }

  .menu {
    margin-left: 25px;
    justify-content: center;
  }
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  height: 100%;
}

main {
  flex-grow: 2;
}

.headline {
  height: 533px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F3C6BD;
  font-family: "Work Sans", sans-serif;
}
.headline__blockText {
  position: absolute;
  z-index: 3;
  align-self: flex-start;
  margin-left: 126px;
  margin-bottom: 106px;
}
.headline__blockText > span {
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 78px;
  color: #2b292d;
}
.headline__blockText > p {
  font-style: normal;
  font-weight: normal;
  width: 456px;
  font-size: 24px;
  line-height: 34px;
  position: relative;
  z-index: 1;
}
.headline__buttons_button1 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040C4;
  border-radius: 2px;
  border-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  width: 160px;
  height: 48px;
  color: white;
  cursor: pointer;
}
.headline__buttons_button2 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  border-radius: 2px;
  border-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  width: 160px;
  height: 48px;
  color: #3040C4;
  margin-left: 10px;
  cursor: pointer;
}
.headline__img {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png");
  background-position: center;
  background-size: auto;
  width: 796px;
  height: 448px;
  position: relative;
  z-index: 2;
  right: -583px;
  bottom: 35px;
}
.headline__img_little {
  display: none;
}

@media screen and (max-width: 320px) {
  .headline {
    height: 800px;
    display: flex;
    flex-direction: column;
  }
  .headline__blockText {
    position: relative;
    margin: 0;
    margin-left: 10px;
  }
  .headline__blockText > span {
    width: 290px;
    display: block;
    font-size: 50px;
    line-height: 50px;
    padding-left: 5px;
  }
  .headline__blockText > p {
    width: 290px;
    height: 172px;
    font-size: 24px;
    margin-right: 0;
    display: inline-block;
    padding-left: 5px;
  }
  .headline__buttons {
    margin-top: 5px;
  }
  .headline__buttons_button1, .headline__buttons_button2 {
    display: block;
    padding: 0;
    width: 290px;
    height: 48px;
    font-size: 18px;
    line-height: 13px;
    margin: 0 12px 15px 5px;
  }
  .headline__buttons_button1 > span, .headline__buttons_button2 > span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headline__img {
    display: none;
  }
  .headline__img_little {
    display: block;
    width: 320px;
    height: 180px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 23px;
  }
}
.about {
  background-color: #F4F5F7;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  padding: 77px 131px 76px 130px;
}
.about .article {
  width: 555px;
  height: 102px;
}
.about .article > span {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
}
.about .article > p {
  font-style: normal;
  font-size: 22px;
  line-height: 32px;
  margin-left: 0;
  margin-top: 5px;
}
.about :last-child {
  margin-left: 29px;
}

@media screen and (max-width: 320px) {
  .about {
    flex-direction: column;
    width: 320px;
    padding: 46px 15px 46px 15px;
  }
  .about .article {
    width: 290px;
    height: 180px;
    margin-bottom: 6px;
  }
  .about .article > p {
    margin-top: 6px;
  }
  .about_text2 {
    width: 290px;
    height: 136px;
    margin-left: 0;
  }
  .about_text2 > p {
    margin-top: 6px;
  }
  .about :last-child {
    margin-left: 0;
  }
}
.customers {
  margin: 50px 130px 126px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customers table {
  width: 1140px;
}
.customers table tbody {
  display: flex;
}
.customers table tr {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.customers table tr td {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers img {
  filter: brightness(0);
}

.features {
  position: relative;
  margin-left: 126px;
  display: flex;
}
.features .features_bird, .features .features_picture, .features .features_tv {
  display: none;
}

.tips .tips_bird, .tips .tips_picture, .tips .tips_tv {
  display: none;
}

.features_text__one {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #009B4D;
  font-family: "Work Sans", sans-serif;
}

.features_text__two {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  font-family: "Work Sans", sans-serif;
  margin-top: 24px;
  margin-bottom: 30px;
}

.features_text__three {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 32px;
}

.features_text__four {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  font-family: "Work Sans", sans-serif;
  color: #3142C6;
  margin-bottom: 0;
}

.features_text_compass {
  display: flex;
  align-items: center;
}

.features_text_compass img {
  margin-right: 15px;
  margin-bottom: 0;
  margin-top: 20px;
}

.features_text_colorLine {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  font-family: "Work Sans", sans-serif;
}

.features_text_colorLine hr {
  background: #3142C6;
  height: 3px;
  border: none;
  width: 457px;
  margin: 0;
}

.features_text__blackImg_one {
  padding-top: 20px;
  padding-bottom: 22px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #aaa;
  width: 457px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  font-family: "Work Sans", sans-serif;
}

.house,
.printer {
  margin-right: 15px;
}

.features_text__blackImg_two {
  padding-top: 20px;
  padding-bottom: 22px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #aaa;
  width: 457px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  font-family: "Work Sans", sans-serif;
}

.eye {
  position: absolute;
  left: -125px;
  bottom: 265px;
}

.features_img {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/invision-screen.png");
  background-repeat: no-repeat;
  background-size: auto;
  width: 1086px;
  height: 597px;
  margin-left: 127px;
  margin-bottom: 103px;
  margin-top: 30px;
}

@media screen and (max-width: 320px) {
  .features {
    display: none;
  }

  .tips {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .tips .tips_bird, .tips .tips_picture, .tips .tips_tv {
    display: block;
  }
  .tips_text {
    display: none;
  }
  .tips_img {
    display: none;
  }

  .customers {
    flex-direction: column;
    margin: 0;
  }
  .customers table {
    width: 320px;
  }
  .customers table tbody {
    display: flex;
    flex-direction: column;
  }
  .customers table tr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .customers table tr td {
    width: 106px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .customers table tr td .ny {
    width: 77px;
    height: 55px;
  }
  .customers table tr td .forbse {
    width: 78px;
    height: 21px;
  }
  .customers table tr td .apple {
    width: 35px;
    height: 40px;
  }
  .customers table tr td .mashable {
    width: 77px;
    height: 13px;
  }
  .customers table tr td .wsj {
    width: 49px;
    height: 28px;
  }
  .customers table tr td .google {
    width: 75px;
    height: 25px;
  }
  .customers table .first td:first-child {
    border-bottom: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
  }
  .customers table .first td:last-child {
    border-bottom: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
  }
  .customers table .first td:nth-child(2) {
    border-bottom: 1px solid #E3E3E3;
  }
  .customers table .second td:first-child {
    border-bottom: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
  }
  .customers table .second td:last-child {
    border-bottom: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
  }
  .customers table .second td:nth-child(2) {
    border-bottom: 1px solid #E3E3E3;
  }

  .tips_bird {
    height: 949px;
    border-bottom: 1px solid #E3E3E3;
    padding: 49px 15px 0 15px;
  }
  .tips_bird__text {
    margin-top: 0;
  }

  .tips_picture {
    border-bottom: 1px solid #E3E3E3;
    height: 857px;
    padding: 49px 15px 0 15px;
  }

  .tips_tv {
    border-bottom: 1px solid #E3E3E3;
    height: 920px;
    padding: 49px 15px 0 15px;
  }

  .tips_bird__text,
.tips_picture__text,
.tips_tv__text {
    display: flex;
    flex-direction: column;
    width: 290px;
  }

  .tips_bird__text span,
.tips_picture__text span,
.tips_tv__text span {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: #009B4D;
    font-family: "Work Sans", sans-serif;
  }

  .tips_bird__text p:nth-child(2),
.tips_picture__text p:nth-child(2),
.tips_tv__text p:nth-child(2) {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    font-family: "Work Sans", sans-serif;
    color: #2B292D;
    margin: 15px 0 0 0;
  }

  .tips_bird__text p:last-child,
.tips_picture__text p:last-child,
.tips_tv__text p:last-child {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin: 15px 0 0 0;
  }

  .tips_bird__img,
.tips_picture__img,
.tips_tv__img {
    margin-top: 30px;
    height: 400px;
  }

  .tips_bird__img figure,
.tips_picture__img figure,
.tips_tv__img figure {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 290px;
    height: 381px;
    display: block;
    margin: auto;
  }

  figcaption {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    font-family: "Work Sans", sans-serif;
    color: rgba(43, 41, 45, 0.6);
    margin-top: 19px;
  }
}
.inbox {
  background: #fef9f4;
  height: 790px;
  display: flex;
}
.inbox__img {
  margin-left: 143px;
  width: 510px;
  margin-top: 142px;
}
.inbox__img img {
  margin-bottom: 15px;
}
.inbox__img figcaption {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
  text-align: center;
}
.inbox__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 519px;
  margin-right: 99px;
  margin-left: 120px;
  margin-top: 115px;
}
.inbox__text_orange {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #F1592B;
  font-family: "Work Sans", sans-serif;
}
.inbox__text_bold {
  width: 462px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #2B292D;
  margin-bottom: 30px;
}
.inbox__text > p {
  width: 461px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
  margin-bottom: 40px;
}
.inbox__text .review {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 519px;
  height: 213px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid #0185D0;
  padding: 30px 30px 0 30px;
  margin-bottom: 106px;
}
.inbox__text .review p {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #2B292D;
}
.inbox__text .review figure {
  display: flex;
  margin: 0;
}
.inbox__text .review figure img {
  margin-right: 11px;
  width: 40px;
  height: 40px;
}
.inbox__text .review figure .Viella {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #2B292D;
}
.inbox__text .review figure .Creative {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (max-width: 320px) {
  .inbox {
    flex-direction: column;
    height: 1215px;
  }
  .inbox__img {
    width: 290px;
    margin: 50px 15px 0 15px;
  }
  .inbox__img figure {
    margin: 0;
  }
  .inbox__img img {
    width: 290px;
  }
  .inbox__img figcaption {
    display: none;
  }
  .inbox__text {
    width: 290px;
    margin: 0;
    margin-left: 15px;
    margin-top: 32px;
  }
  .inbox__text .review {
    width: 290px;
    height: 321px;
    padding-bottom: 30px;
  }
  .inbox__text .review figure {
    display: flex;
    align-items: center;
  }
  .inbox__text_bold {
    width: 290px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 0;
  }
  .inbox__text > p {
    width: 290px;
  }
}
.communication_mainBlock {
  display: flex;
  flex-wrap: wrap;
}
.communication_mainBlock__left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 461px;
  margin-right: 193px;
  margin-left: 128px;
  margin-top: 123px;
  font-family: "Work Sans", sans-serif;
}
.communication_mainBlock__left_blue {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #0189D1;
  margin-bottom: 24px;
}
.communication_mainBlock__left_bold {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #2B292D;
}
.communication_mainBlock__left p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
}
.communication_mainBlock__left button {
  width: 160px;
  height: 48px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040C4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #FFFFFF;
  margin-top: 39px;
}
.communication_mainBlock__left hr {
  width: 150px;
  height: 1px;
  background: #000000;
  opacity: 0.1;
  align-self: flex-start;
  margin: 0;
  margin-top: 87px;
}
.communication_mainBlock__rigth {
  width: 425px;
  margin-top: 110px;
  margin-right: 193px;
  font-family: "Work Sans", sans-serif;
}
.communication_mainBlock__rigth figcaption {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}
.communication_mainBlock__rigth hr {
  display: none;
}
.communication_mainBlock__down {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  margin: 41px 130px 110px 130px;
}
.communication_mainBlock__down_subscriptions, .communication_mainBlock__down_felxible, .communication_mainBlock__down_fast {
  width: 360px;
  font-size: 18px;
  line-height: 26px;
  font-family: "Work Sans", sans-serif;
}
.communication_mainBlock__down_subscriptions .sub, .communication_mainBlock__down_subscriptions .felix, .communication_mainBlock__down_subscriptions .fast, .communication_mainBlock__down_felxible .sub, .communication_mainBlock__down_felxible .felix, .communication_mainBlock__down_felxible .fast, .communication_mainBlock__down_fast .sub, .communication_mainBlock__down_fast .felix, .communication_mainBlock__down_fast .fast {
  font-style: normal;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  color: #2B292D;
}
.communication_mainBlock__down_subscriptions .Foundation, .communication_mainBlock__down_subscriptions .get, .communication_mainBlock__down_subscriptions .we, .communication_mainBlock__down_felxible .Foundation, .communication_mainBlock__down_felxible .get, .communication_mainBlock__down_felxible .we, .communication_mainBlock__down_fast .Foundation, .communication_mainBlock__down_fast .get, .communication_mainBlock__down_fast .we {
  font-style: normal;
  font-family: "Work Sans", sans-serif;
  color: #2B292D;
}
.communication_mainBlock__down_subscriptions a, .communication_mainBlock__down_felxible a, .communication_mainBlock__down_fast a {
  display: block;
  color: #3040C4;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  font-family: "Work Sans", sans-serif;
  text-decoration: underline;
  margin-top: 10px;
}

@media screen and (max-width: 320px) {
  .communication_mainBlock__left {
    width: 290px;
    margin: 0 15px;
  }
  .communication_mainBlock__left_bold {
    font-size: 40px;
    line-height: 40px;
  }
  .communication_mainBlock__left p {
    margin-bottom: 0;
  }
  .communication_mainBlock__left hr {
    display: none;
  }
  .communication_mainBlock__rigth {
    margin: 40px 13px 0;
  }
  .communication_mainBlock__rigth figure {
    margin: 0;
    width: 290px;
  }
  .communication_mainBlock__rigth figure img {
    width: 290px;
    height: 291px;
  }
  .communication_mainBlock__rigth hr {
    display: block;
    height: 1px;
    width: 150px;
    background: #000000;
    opacity: 0.1;
    margin-right: 155px;
    margin-top: 40px;
    margin-bottom: 33px;
  }
  .communication_mainBlock__down {
    flex-direction: column;
    margin: 0;
  }
  .communication_mainBlock__down_subscriptions, .communication_mainBlock__down_felxible, .communication_mainBlock__down_fast {
    width: 290px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .communication_mainBlock__down_subscriptions, .communication_mainBlock__down_felxible {
    margin-bottom: 32px;
  }
}
.audience {
  height: 983px;
  background: #edf8fb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.audience_text {
  font-family: "Work Sans", sans-serif;
  width: 555px;
  display: flex;
  flex-direction: column;
}
.audience_text .engage {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #2B292D;
  text-align: center;
  margin-bottom: 24px;
}
.audience_text .understand {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #2B292D;
  text-align: center;
  margin-bottom: 30px;
}
.audience_text p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2B292D;
  margin-bottom: 34px;
}
.audience_text_buttons {
  display: flex;
  justify-content: center;
}
.audience_text_buttons button:first-child {
  width: 160px;
  height: 48px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040C4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #FFFFFF;
}
.audience_text_buttons button:last-child {
  width: 160px;
  height: 48px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #000000;
  margin-left: 10px;
}
.audience_imgs {
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 111px;
}
.audience_imgs .user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 262px;
  height: 300px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  margin-right: 30px;
  border-radius: 8px;
}
.audience_imgs .user-card figcaption {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
  margin-top: 22px;
}
.audience_imgs .user-card figure {
  margin: 0;
}
.audience_imgs .user-card:nth-child(3), .audience_imgs .user-card:nth-child(4) {
  text-align: center;
}
.audience_imgs .user-card:nth-child(4) {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .audience {
    height: 1808px;
    margin-top: 50px;
  }
  .audience_text {
    width: 290px;
  }
  .audience_text .understand {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 0;
  }
  .audience_text_buttons {
    flex-direction: column;
  }
  .audience_text_buttons button:first-child, .audience_text_buttons button:last-child {
    width: 290px;
    height: 48px;
  }
  .audience_text_buttons button:last-child {
    margin-left: 0;
    margin-top: 12px;
  }
  .audience_imgs {
    flex-direction: column;
    margin: 40px;
  }
  .audience_imgs .user-card {
    width: 290px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .audience_imgs .user-card:nth-child(1), .audience_imgs .user-card:nth-child(2), .audience_imgs .user-card:nth-child(3) {
    margin-bottom: 15px;
  }
}
.feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 355px;
  border-bottom: 1px solid #D3D3D3;
}
.feedback .customers {
  margin: 30px 130px 0 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 96px;
}
.feedback .customers img {
  filter: brightness(0);
}
.feedback_text {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}
.feedback_text > span {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3142C6;
}
.feedback_text > p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2B292D;
  width: 750px;
  margin-bottom: 0;
}
.feedback_text_user {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
}
.feedback_text_user span:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2B292D;
}
.feedback_text_user span:last-child {
  color: rgba(43, 41, 45, 0.6);
}
.feedback_text_buttons {
  display: flex;
  margin-top: 38px;
}
.feedback_text_buttons div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  margin-left: 13px;
  background: #2B292D;
  opacity: 0.2;
}
.feedback_text_buttons div:first-child {
  opacity: 1;
  background: #3142C5;
}
.feedback_buble {
  position: absolute;
  right: 26px;
  bottom: -5px;
}
.feedback .main_logos {
  display: none;
}

@media screen and (max-width: 320px) {
  .feedback {
    height: 1000px;
  }
  .feedback .customers {
    display: none;
  }
  .feedback_text {
    width: 290px;
    margin-top: 39px;
  }
  .feedback_text > p {
    width: 290px;
    text-align: start;
  }
  .feedback_text_user {
    width: 290px;
    text-align: start;
  }
  .feedback_text_user span:first-child {
    text-align: start;
  }
  .feedback_text_buttons {
    margin-right: 100px;
    margin-left: 103px;
    margin-bottom: 40px;
  }
  .feedback_text_buttons div {
    width: 12px;
    height: 12px;
  }
  .feedback_buble {
    bottom: 50px;
    left: 15px;
    right: 0;
  }
}
.hiring {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 839px;
}
.hiring_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hiring_text > span {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #2B292D;
  text-align: center;
}
.hiring_text p {
  width: 555px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2B292D;
}
.hiring_text button {
  width: 247px;
  height: 48px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040C4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #FFFFFF;
}
.hiring_buttons {
  font-family: "Work Sans", sans-serif;
  margin-top: 110px;
}
.hiring_buttons .vacancy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 750px;
  height: 81px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 8px;
}
.hiring_buttons .vacancy span:first-child {
  width: 408px;
  margin-right: 20px;
  margin-left: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}
.hiring_buttons .vacancy span:nth-child(2) {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
}
.hiring_buttons .vacancy span:nth-child(2) {
  width: 223px;
}
.hiring_buttons .vacancy img:nth-child(3) {
  margin-right: 25px;
}
.hiring_buttons div:first-child {
  background: #3141C5;
  box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07), 0px 13px 18px rgba(0, 0, 0, 0.15);
  color: white;
  margin-bottom: 20px;
}
.hiring_buttons div:nth-child(2) {
  margin-bottom: 20px;
}
.hiring_forMin {
  display: none;
}

@media screen and (max-width: 320px) {
  .hiring_text > span {
    font-size: 40px;
    line-height: 40px;
  }
  .hiring_text p {
    width: 290px;
  }
  .hiring_text button {
    width: 290px;
  }
  .hiring_buttons {
    display: none;
  }
  .hiring_forMin {
    display: block;
    font-family: "Work Sans", sans-serif;
    margin-top: 39px;
  }
  .hiring_forMin_block {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .hiring_forMin_block_white {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 21px 19px 20px;
    width: 240px;
    height: 140px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .hiring_forMin_block_white span:first-child {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 7px;
  }
  .hiring_forMin_block_grey {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 140px;
    background: #D5D4D5;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .hiring_forMin_block:last-child {
    margin-bottom: 0;
  }
}
.order {
  display: flex;
  font-family: "Work Sans", sans-serif;
  background: #F4F5F7;
}
.order_img {
  margin: 73px 122px 72px 224px;
}
.order_text {
  margin: 106px 228px 106px 0;
}
.order_text > span:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: #2B292D;
}
.order_text > p {
  width: 555px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  color: #2B292D;
}
.order_text form {
  margin-bottom: 10px;
  margin-top: 26px;
}
.order_text form input[type=email] {
  width: 385px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  padding-left: 15px;
}
.order_text form input::placeholder {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 13px;
  color: #2B292D;
}
.order_text form button {
  width: 160px;
  height: 48px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040C4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #FFFFFF;
}
.order_text > span:nth-child(4) {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.order_text a {
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
.order .little_bold {
  display: none;
}
.order .little {
  display: none;
}

@media screen and (max-width: 320px) {
  .order {
    flex-direction: column;
  }
  .order_img {
    margin: 50px 60px 40px;
  }
  .order_img img {
    width: 220px;
    height: 220px;
  }
  .order_text {
    margin: 0 13px 50px;
  }
  .order_text > p {
    width: 290px;
  }
  .order_text .big {
    display: none;
  }
  .order_text .little_bold {
    display: inline;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
  }
  .order_text .little {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    margin-top: 18px;
  }
  .order_text form input[type=email] {
    width: 290px;
    padding: 17px 72px 18px 72px;
    margin-bottom: 17px;
  }
  .order_text form button {
    width: 290px;
  }
}
.footer {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  height: 389px;
}
.footer .footer_link {
  margin: 44px 146px 59px 129px;
}
.footer .footer_link_icon {
  display: flex;
  align-items: center;
}
.footer .footer_link_icon img {
  margin-right: 15px;
}
.footer .footer_link_icon div {
  display: flex;
  flex-direction: column;
}
.footer .footer_link_icon div > span:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #2B292D;
}
.footer .footer_link_icon div > span:last-child {
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: #2B292D;
}
.footer .footer_link > p {
  width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
}
.footer .footer_link_links a:last-child {
  margin-left: 10px;
}
.footer .footer_list {
  display: flex;
  align-items: center;
}
.footer .footer_list_product {
  margin-right: 82px;
}
.footer .footer_list_product > span {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
}
.footer .footer_list_product > ul {
  padding: 0;
  list-style-type: none;
}
.footer .footer_list_product > ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
}
.footer .footer_list_company {
  align-self: flex-start;
  margin-top: 61px;
}
.footer .footer_list_company > span {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
}
.footer .footer_list_company > ul {
  padding: 0;
  list-style-type: none;
}
.footer .footer_list_company > ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
}
.footer .footer_social {
  position: relative;
  display: flex;
  width: 100%;
  flex-grow: 2;
  padding-left: 130px;
  border-top: 1px solid #E3E3E3;
}
.footer .footer_social_text {
  margin: 13px 0 15px 0;
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.footer .footer_social_text span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.footer .footer_social_img {
  position: absolute;
  right: 132px;
  top: 12px;
}
.footer .footer_social_img img {
  margin-right: 20px;
}

@media screen and (max-width: 320px) {
  .footer .footer_link {
    width: 100%;
    padding: 40px 30px 0 30px;
    margin: 0;
    border-bottom: 1px solid #E3E3E3;
  }
  .footer .footer_link > p {
    display: none;
  }
  .footer .footer_link_icon {
    flex-direction: column;
  }
  .footer .footer_link_icon > div {
    text-align: center;
    margin-top: 20px;
  }
  .footer .footer_link_icon > img {
    margin: 0;
  }
  .footer .footer_link_links {
    display: flex;
    justify-content: center;
    margin-top: 31px;
    margin-bottom: 40px;
  }
  .footer .footer_list {
    flex-direction: column;
    margin-left: 15px;
    margin-top: 30px;
  }
  .footer .footer_list_company {
    margin-top: 30px;
  }
  .footer .footer_social {
    flex-direction: column;
    align-content: flex-start;
    padding-left: 15px;
    border: none;
  }
  .footer .footer_social_img {
    position: static;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
